h2 {
    color: black;
    font-weight: 900;
}
p {
    color: black;
    font-weight: 800;
}
body {
    background-color: #4c00fc;
}
.waifu-card {
    background-color: #fd0404;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}